* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,body{
  overflow-x: hidden;
}

.fa{
  color: black !important;
}
.facebook:hover{
  color: #3b5998 !important;
}
.twitter:hover{
  color: #00aced !important;
}
.youtube:hover{
  color: #bb0000 !important;
}
.instagram:hover{
  color: #517fa4 !important;
}
.linkedin:hover{
  color: #007bb6 !important;
}
.yellow_font {
  color: #FFD616;
}

.heading {
  margin: .5rem;
  font-size: 3rem;
  font-weight: bolder;
  overflow-y: hidden;
}

.social-menu {
  float: right;
  /* position: relative;
  right: 1rem;
  top: -.5em; */
}

.social-menu ul {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 2px;
}

.heading_btn {
  border: 3px solid #FFD616;
  font-size: 1rem;
  border-radius: .5em;
  margin: auto;
  /* justify-content: center; */
   position: relative;
   top: -8px;
   right: -18px;
  /* top: -40px;
  right: -20px;  */
  background-color: white;
}
/* .button1{
  margin: auto;
  position: relative;
  top: -38px;
  left: 20px;
} */

.heading_btn:hover {
  background-color: #FFD616;
  transition: 0.3s ease;
}

.heading_btn_txt {
  margin: 1em;
  font-weight: bolder;
}

.egg{
  width: 100%;
  /* max-width: 1000px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.egg_img{
  width: 80%;
  height: 600px;
  background: url(/images/1.png)  no-repeat center / cover;
  border-radius: 10px;
}

.egg_yellow_box{
  width: 30%;
  height: 540px;
  min-width: 300px;
  /* min-height: 550px; */
  background-color:  #FFD616;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  margin-left: -180px;
}
.egg_yellow_box h5{
  text-decoration: underline;
}
.egg_yellow_box h1{
  font-size: 40px;
  font-weight: bolder;
}
.egg_yellow_box p{
  margin: 20px 0;
  font-weight: 500;
}
.egg_yellow_box a{
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
}
.egg-margin{
  width: 90%;
height: 0;
border: 2px solid #000000;

}

.dp_heading{
  background-color:#FFD616;
  margin-top: 2em;
  width: 25%;
  /* margin: auto; */
  /* margin: .5em; */
}
.dp_heading span{
  font-weight: bolder;
  margin: auto;
  text-transform: uppercase;
  font-size: 2em;
}

.yellow_line{
  border: 2px solid #FFD616;
  position: relative;
  top: -20px;
}
.card{
  border: none !important;
}
.dp_card{
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.card_img_one{
  width: 100%;
  height: 270px;
  background: url(/images/2.jpg) no-repeat;
}
.card_img_two{
  width: 40%;
  height: 270px;
  background: url(/images/3.png) no-repeat;
}
.card_img_three{
  width: 40%;
  height: 270px;
  background: url(/images/4.png) no-repeat;
}
.card_box{
  /* display: flex; */
  /* position: relative;
  left: -30px; */
  width: 30%;
  height: 270px;
  margin: .5em;
  /* margin: auto; */
  /* margin-left: 0; */
}
.card_content a{
  float: left;
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
  color:  #FFD616;
  border: 1px solid #FFD616;
}
.card_content a:hover{
  background-color:#FFD616 ;
  color: black;
}
.section_one{
  margin:1em;
}
.card_btn{
  border: 2px solid #FFD616;
  text-decoration: none;
  color: #FFD616;
  border-radius: 5px;
  background-color: white;
  padding: 3px;
}
.card_btn:hover{
  background-color:#FFD616 ;
  transition: 0.5s ease;
  color: black;
}
.dp_right{
  width: 50%;
  /* float: right; */
}
.dp_social_icons{
  margin: auto;
}
.dp_social_icons ul li{
  list-style: none;
  margin: 0 10px;
}
.dp_social_icons ul{
  display: flex;
}


.dp_right{
  float: right;
}
.dp_img_food{
  margin-top: 2em;
}
.dp_food_left {
  margin: 1em;
}
.dp_food_left {
  margin: 1em;
}
.dp_food_left img{
  width: 50%;
  float: left;
}
.dp_food_right img{
  width: 50%;
  float: left;
}

.dp_img_txt{
  background-color: rgb(61, 61, 61);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  /* margin: 1em; */
}
.dp_img_left_heading{
  font-size: 2em;
  color: white;
  align-items: center;
}
.dp_img_txt h2{
  color: white;
  text-align: center;
}

.dp_img_left , .dp_img_right{
  position: relative;
}

.section_two{
  margin: 1em;
}


.rp_circle_img_left{
  float: left;
}


.rp_circle_content{
  width:55%;
}

.rp_circle{
  display: inline;
}


@media only screen and (max-width: 768px){
  .egg{
    flex-direction: column;
    width: 100%;
    /* padding: 0 10px; */
  }
  .egg_img{
    width: 98%;
    height: 400px;
  }
  .egg_yellow_box{
    height: 290px;
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }
  .egg_content{
    height: 280px;
  }
  .egg_content h5{
    font-size: 15px;
  }
  .egg_content h1{
    font-size: 30px;
  }
  .egg_content p{
    font-size: 10px;
  }
  .egg_content a{
    padding: 5px 10px;
    font-size: 10px;
  }
  .dp_right{
    float: none;
    width: 80%;
    margin: auto;
  }
  .dp_card_one,.dp_card_two,.dp_card_three{
    margin: auto;
  }
  .dp_img_txt h2{
    font-size: 1em;
  }
  .card_btn{
    font-size: .5em;
  }
}
@media (max-width: 425px) {
  .heading {
    text-align: center;
  }
  .social-menu {
   width: 100%;
  }
  .social-menu ul{
    /* position: relative;
    left: 10px; */
    float: left;
    margin: auto;
    align-items: center;
  }
  .dp_heading{
    font-size: 8px;
  }
}

@media (max-width: 320px) {
  .heading {
    text-align: center;
  }
  .social-menu {
    width: 100%;
    float: none;
    margin: auto;
    /* right: -10px;
    right: 76px; */
  }
}
/*# sourceMappingURL=style.css.map */